body{
  text-align: center;
  background-color: #011f3f;
}
.container{
  margin: auto;
  text-align: center;
}

div{
  display: block;
  position: relative;
  justify-content: center ;
}

.entry-title , h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #F6E7D8;
  padding-top: 1rem;
}
.btnn{
  height: 80px;

}

.btn{
  margin: 25px;
  /* position: absolute; */
}

.bt{
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 20%;
  margin: 25px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.game-over{
  background-color: red;
}

footer{
  padding-top: 10px;
  color: white;
  font-size: 1rem;
}

a{
  color: aliceblue;
  padding: 10px;
  font-size: 1.5rem;
}

.hidden{
  display: none;
}

@media (max-width:600px) {
  h1.entry-title{
    font-size: 2rem;
  }
  .btn{
    font-size: 1.5rem;
  }

  .bt{
    margin: 7px;
    width: 150px;
    height: 150px;
    border: 5px solid black;
  }

  footer{
    padding-top: 25px;
  }
  .btnn{
    padding-bottom: 10px;
  }
  
}
